@font-face {
  font-family: "Roboto Thin";
  src: url('./fonts/RobotoMono-Thin.ttf')
}

*{
  font-family: "Roboto Thin", monospace;
}

body{
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  background: linear-gradient(to right, rgb(253, 200, 48), rgb(243, 115, 53))
}